<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">仮のタイトル</h1>
<p>入力内容をご確認ください</p>
<p th:text="${propertyForm.propertyName}"></p>
<div th:object="${propertyForm}">
<h3>物件名</h3>
<p th:text="*{propertyName}"></p>
<h3>住所</h3>
<p th:text="*{address}"></p>
<h3>電話番号</h3>
<p th:text="*{tel1}"></p>
<h3>メールアドレス</h3>
<p th:text="*{email}"></p>
<h3>詳細1</h3>
<p th:text="*{detail1}"></p>

<form method="post" action="#" th:action="@{/property/complete}">
	<input type="hidden" name="propertyName" th:value="*{propertyName}">
	<input type="hidden" name="address" th:value="*{address}">
	<input type="hidden" name="tel1" th:value="*{tel1}">
	<input type="hidden" name="email" th:value="*{email}">
	<input type="hidden" name="detail1" th:value="*{detail1}">
	<input type="submit" value="登録">
</form>

<form method="post" action="#" th:action="@{/property/form}">
	<input type="hidden" name="propertyName" th:value="*{propertyName}">
	<input type="hidden" name="address" th:value="*{address}">
	<input type="hidden" name="tel1" th:value="*{tel1}">
	<input type="hidden" name="email" th:value="*{email}">
	<input type="hidden" name="detail1" th:value="*{detail1}">
	<input type="submit" value="戻る">
</form>

</div>
</body>
</html>