<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
  </head>

  <body>

	<div th:replace="~{block/header::headerA}"></div>
    <main role="main" class="container">

      <div class="starter-template">
        <h1 th:text="${title}">Bootstrap starter template</h1>
      </div>


<div th:object="${oneProperty}">
<div class="mb-5 mt-5">

<h5>物件No</h5>
<p th:text="*{propertyId}" class="list-group-item mb-4">ID</p>
<h5>物件名</h5>
<p th:text="*{propertyName}" class="list-group-item mb-4">物件名</p>
<h5>住所</h5>
<p th:text="*{address}" class="list-group-item mb-4">住所</p>
<h5>電話番号</h5>
<p th:text="*{tel1}" class="list-group-item mb-4">電話番号</p>
<h5>メールアドレス</h5>
<p th:text="*{email}" class="list-group-item mb-4">メールアドレス</p>

<div th:object="${oneDetail}">
<h5>詳細1</h5>
<p th:text="*{detail1}" class="list-group-item mb-4">詳細1</p>
<h5>詳細2</h5>
<p th:text="*{detail2}" class="list-group-item mb-4">詳細1</p>
<h5>詳細3</h5>
<p th:text="*{detail3}" class="list-group-item mb-4">詳細1</p>
<h5>詳細4</h5>
<p th:text="*{detail4}" class="list-group-item mb-4">詳細1</p>
<h5>詳細5</h5>
<p th:text="*{detail5}" class="list-group-item mb-4">詳細1</p>
</div>

</div>

<form method="post" action="#" th:action="@{/property/edit/{id}(id=${id})}">
	<button type="submit" class="btn btn-dark">編集する</button>
</form>
<form method="get" action="#" th:action="@{/property/index}">
	<button type="submit" class="btn btn-dark">一覧に戻る</button>
</form>

</div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="@{/js/jquery-slim.min.js}"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"  th:src="@{/js/popper.min.js}"></script>
    <script src="../../dist/js/bootstrap.min.js"  th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>